*.class
*.log
*.tasty
*.db
*.bloop
*.bsp
*.metals
*.cache
project/project/
project/target/
target/
project/metals.sbt
.scalafmt.conf
.gitattributes
*.sqlite
.idea/
.idea
gatling-3.9.5/bin
gatling-3.9.5/conf
gatling-3.9.5/lib
gatling-3.9.5/target